# Ignore Python virtual environment directories
.venv/
venv/
ENV/
env/

# Ignore VSCode settings directory
.vscode/

# Preserve configuration files
!.venv/config/
!venv/config/
!ENV/config/
!env/config/

.mypy_cache
out/

# Ignore pre-trained models
yolo11n.pt
yolo11n-obb.pt
yolo11n-pose.pt
yolo11n-seg.pt
yolo11n-cls.pt