# Ignore Python virtual environment directories
.venv/
venv/
ENV/
env/
__pycache__

# Ignore VSCode settings directory
.vscode/

# Preserve configuration files
!.venv/config/
!venv/config/
!ENV/config/
!env/config/

.mypy_cache
.pytest_cache
out/

# Ignore pre-trained models
*.pt
